body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  transition: background-color 0.3s ease;
  color: #000000; /* Light mode text color */
}

.average-wanderer-popup{
    font-size: 1.2em;
    font-weight: bold;
}

/* Custom scrollbar for RARE WANDERER popups */
/* Custom scrollbar for popups */
.popup-content {
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
  }
  
  /* Flash popup */
  #popup-flash .popup-content::-webkit-scrollbar {
    width: 12px;
  }

  #popup-flash .popup-content::-webkit-scrollbar-track {
    border-radius:5px;
    background: #48556f; /* Flash container background color */
  }
  
  #popup-flash .popup-content::-webkit-scrollbar-thumb {
    background: cyan; /* Color of the scrollbar thumb */
    border-radius: 5px;
  }
  
  #popup-flash .popup-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover color of the scrollbar thumb */
  }
  
  /* Bird popup */
  #popup-bird .popup-content::-webkit-scrollbar {
    width: 12px;
  }
  
  #popup-bird .popup-content::-webkit-scrollbar-track {
    border-radius:5px;
    background: #ffffff; /* Bird container background color */
  }
  
  #popup-bird .popup-content::-webkit-scrollbar-thumb {
    background: #dd2d4a; /* Color of the scrollbar thumb */
    border-radius: 5px;
  }
  
  /* Frost popup */
  #popup-frost .popup-content::-webkit-scrollbar {
    width: 12px;
  }
  
  #popup-frost .popup-content::-webkit-scrollbar-track {
    border-radius:5px;
    background: #add8e6; /* Frost container background color */
  }
  
  #popup-frost .popup-content::-webkit-scrollbar-thumb {
    background: #5793FF; /* Color of the scrollbar thumb */
    border-radius: 5px;
  }
  
  /* Phoenix popup */
  #popup-phoenix .popup-content::-webkit-scrollbar {
    width: 12px;
  }
  
  #popup-phoenix .popup-content::-webkit-scrollbar-track {
    border-radius:5px;
    background: #ffefd6; /* Phoenix container background color */
  }
  
  #popup-phoenix .popup-content::-webkit-scrollbar-thumb {
    background: #ff4500; /* Color of the scrollbar thumb */
    border-radius: 5px;
  }
  
  /* Destroyer/Snatcher popup */
  #popup-destroyer .popup-content::-webkit-scrollbar {
    width: 12px;
  }
  
  #popup-destroyer .popup-content::-webkit-scrollbar-track {
    border-radius:5px;
    background: #000; /* Destroyer container background color */
  }
  
  #popup-destroyer .popup-content::-webkit-scrollbar-thumb {
    background: #dc143c; /* Color of the scrollbar thumb */
    border-radius: 5px;
  }
  
  /* Custom scrollbar for RARE WANDERER popups */

p{
    padding:0;
    margin:0;
    font-weight:lighter;
    text-align: left;
}

/* FOR POPUP CARDS */
.container {
  background-color:black;
    width: 500px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 1.5em;
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0 0 0;
    z-index: 2;
}
.wanderer-hero-name { font-size: 2em; }

/* Base styles for images */
.hero-image, .ability-image {
  max-width: 50%;
  height: auto;
  border-radius: 20px;
  margin-bottom:20px;
}

.ability-image {
    width: 100%;
    height: auto;
}

.paragraph{
padding:0 20px 10px 20px;
}

.line {
    width: 50%;
}
.secondary-title {
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    text-align:left;
    font-style: normal;
    font-size: 1.5em;
    margin: 0px;

}
.small-text { font-size: .7em; }
.btn-text {
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}
.flip-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flipper {
    position: relative;
    width: 150px;
    height: 80px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}
.flipper.flipped {
    transform: rotateY(180deg);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 40px 10px yellow;
    }
    50% {
        box-shadow: 0 0 60px 20px yellow;
    }
    100% {
        box-shadow: 0 0 40px 10px yellow;
    }
}

@keyframes glow-legendary {
    0% {
        box-shadow: 0 0 15px 5px #d967ff;
    }
    50% {
        box-shadow: 0 0 45px 10px #d967ff;
    }
    100% {
        box-shadow: 0 0 15px 5px #d967ff;
    }
}

@keyframes shine {
    0%, 100% { left: -80%; }
    100% { left: 120%; }
}

.flip-button {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00254d;
    border: 2px solid cyan;
    color: cyan;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.flip-button.back.exotic {
    animation: glow 1s infinite; /* Apply the glow animation */

}

.flip-button.back.legendary{
    animation: glow-legendary 1s infinite; /* Apply the glow animation */
}


.flip-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -80%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.74);
    transform: skewX(-45deg);
    transition: left 0.4s ease;
}
.flipper.flipped .flip-button::before {
    animation: shine 0.4s;
}
.front { z-index: 2; }
.back { transform: rotateY(180deg); }

/* FOR POPUP CARDS */
body.dark-mode {
  background-color: #333; /* Dark mode background */
  color: #ffffff; /* Dark mode text color */
}

.rare-red {
  color: #dd2d4a;
}

h1 {
  margin-top: 50px;
  font-family: "fatfrank", sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
button {
  --button_radius: 0.75em;
  --button_color: #ffffff;
  --button_outline_color: #000000;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  padding: 0;
  cursor: pointer;
  z-index: 10;
}
.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
button:hover .button_top {
  transform: translateY(-0.3em);
}
button:active .button_top {
  transform: translateY(0);
}
.toggle-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
}
.toggle-switch input {
  display: none;
}
.slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  background-color: #000000;
  border-radius: 24px;
  cursor: pointer;
}
.slider:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.2s;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
input:checked + .slider {
  border: 1px white solid;
  background-color: #333;
}
body.dark-mode button {
  --button_color: #333333;
  --button_outline_color: #ffffff;
}
body.dark-mode .button_top {
  background: var(--button_color);
  color: var(--button_outline_color);
  border: 2px solid var(--button_outline_color);
}


.popup {
  position: fixed;
  left: 0;
  top: -150px;
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.713); /* Increase opacity for a stronger fade effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Optional: Add a transition for smoother effect */
}

.popup-content {
  position: relative; /* Ensure content is positioned within the parent */
  padding: 0; /* Remove any extra padding */
  border-radius: 5px;
  width: auto;
  max-height: 500px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  overflow-y: auto; /* Enable scrolling */

}

.close-btn {
    position: absolute; /* Position it absolutely within the popup-content */
    top: 10px; /* Adjust as necessary */
    right: 10px; /* Adjust as necessary */
    z-index: 1000; /* Keep it on top of other content */
    font-size: 28px;
    cursor: pointer;
  }

.info-window {
  user-select: none;
  font-family: sans-serif;
  position: absolute;
  top: 80px;
  right: 20px;
  width: 200px;
  height: 100px;
  background-color: #eaebed96;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: move;
  transition: width 0.5s, height 0.5s;
  z-index: 10;
  overflow: hidden; /* Prevent overflow in the non-expanded state */
}


.info-window.expanded {
  padding: 0px 80px 0px 80px;
  width: 45vw; /* Expand to % of viewport width */
  height: 45vh; /* Expand to % of viewport height */
  overflow: auto; /* Enable scrolling when expanded */
  overflow-x: hidden;
}
.info-window.expanded::-webkit-scrollbar {
  width: 15px;
}
.info-window.expanded::-webkit-scrollbar-track {
  background: #aaa; /* Light mode track color */
}
.info-window.expanded::-webkit-scrollbar-thumb {
  background: #ffffff; /* Light mode thumb color */
  border: 3px solid black;
  border-radius: 10px;
}
.info-window.expanded::-webkit-scrollbar-thumb:hover {
  background: #555; /* Light mode hover color */
}
body.dark-mode .info-window {
  background-color: rgba(50, 50, 50, 0.8);
  border-color: #fff;
  color: #fff;
}
body.dark-mode .info-window .thumbnail,
body.dark-mode .info-window .expand-btn {
  color: #fff;
}
body.dark-mode .info-window.expanded::-webkit-scrollbar-track {
  background: #555; /* Dark mode track color */
}
body.dark-mode .info-window.expanded::-webkit-scrollbar-thumb {
  background: #ffffff; /* Dark mode thumb color */
}
body.dark-mode .info-window.expanded::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Dark mode hover color */
}




.info-content {
  display: none;
}
.info-window.expanded .info-content {
  display: block;
}
.info-window .expand-btn {
  position: fixed;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #000;
}
.info-window.expanded .thumbnail {
  display: none;
}

.footerimg-infowindow {
  z-index: -1;
  position: relative;
  left: -80px;
  bottom: -10px;
  width: 130%;
  padding: 0;
  margin: 0;
}

.info-title {
  font-size: 3em;
  color: rgb(255, 140, 0);
  font-family: "fatfrank", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inspection-zone {
  user-select: none;
  position: absolute;
  top: 80px;
  left: 20px;
  width: 100px;
  height: 45px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.62);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  transition: all 0.3s ease;
  z-index: 1;
}
.inspection-zone:hover {
  border: 2px dotted #00000081;
  width: 200px;
  height: 200px;
}
.inspection-zone.holding-wanderer {
  border: 2px dashed;
  font-weight: bolder;
  background-color: rgba(255, 215, 0, 0.8);
  border-color: rgb(0, 0, 0);
}

body.dark-mode .inspection-zone:hover {
  border: 2px dotted #ffffff81;
  width: 200px;
  height: 200px;
}

body.dark-mode .inspection-zone {
  border: 2px white solid;
  background-color: rgba(50, 50, 50, 0.8);
  color: #ffffff;
}
body.dark-mode .inspection-zone.holding-wanderer {
  border: 2px dotted;
  background-color: rgba(255, 215, 0, 0.8);
  border-color: gold;
}

/* Existing general styles and media queries */

/* Media query for larger screens */
@media only screen and (min-width: 1449px) {
  .popup-content {
    top:-40px;
    width: 30vw; /* 60% of viewport width */
    max-height: 80vh; /* 80% of viewport height */
    padding: 20px; /* Increase padding for better spacing */
  }

  .container {
    width: 100%; /* Full width within the popup */
    padding: 20px; /* Increase padding for better spacing */
  }

  .close-btn {
    top: 10px; /* Adjust for better fit */
    right: 10px; /* Adjust for better fit */
  }
}




@media (max-width: 600px) {
  * {
    user-select: none;
  }
  canvas {
    user-select: none;
  }

  h1 {
    font-size: 1.5em;
    margin-top: 50px;
    font-family: "fatfrank", sans-serif;
    color: rgb(255, 140, 0);
  }
  h2,
  h3 {
    font-size: 1em;
  }

  .popup-content {
    left:0;
    width: 30vw; /* 60% of viewport width */
    max-height: 80vh; /* 80% of viewport height */
    padding: 20px; /* Increase padding for better spacing */
  }

  .info-title {
    font-size: 2em;
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .info-window {
    position: absolute;
    top: 620px;
    left: 205px;
    width: 180px;
    height: 50px;
    background-color: #ffffff;

  }

  .info-window.expanded {
    position: absolute;
    left: 5px;
    top: 150px;
    width: 80vw; /* Expand to % of viewport width */
    height: 45vh; /* Expand to % of viewport height */
    padding: 30px;
  }

  .footerimg-infowindow {
    left: -30px;
    bottom: -40px;
  }

  .info-title {
    margin-top: 10px;
  }

  h1 {
    margin-top: 30px;
  }

  img {
    width: 100%;
  }
}

@media only screen 
  and (min-device-width: 375px) /* Minimum device width for iPhone 14 */
  and (max-device-width: 428px) /* Maximum device width for iPhone 14 */
  and (-webkit-device-pixel-ratio: 3) /* Possible device pixel ratio for high-resolution displays */
  and (orientation: portrait) /* Portrait orientation */ {

  .popup-content {
    width: 90vw; /* 90% of the viewport width */
    max-height: 90vh; /* 90% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Adjust padding as needed */
  }

  .container {
    width: 100%; /* Full width within the popup */
    padding: 10px; /* Adjust padding as needed */
  }

  .close-btn {
    position: absolute; /* Ensure the close button stays at the top right */
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001; /* Ensure it stays on top of other content */
  }
}



