body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container {
    border:6px black solid;
    width: 300px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 1.5em;
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    z-index: 2;
}
.wanderer-hero-name { font-size: 2em; }
.hero-image {
    border-radius:20px;
    width: 70%;
}
.ability-image-container {
    width: 113.5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ability-image {
    width: 100%;
    height: auto;
}
.paragraph {
    padding: 30px;
    margin: 0;
}
.line {
    width: 50%;
}
.secondary-title {
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.small-text { font-size: .7em; }
.btn-text {
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}
.flip-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flipper {
    position: relative;
    width: 150px;
    height: 80px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}
.flipper.flipped {
    transform: rotateY(180deg);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 40px 10px yellow;
    }
    50% {
        box-shadow: 0 0 60px 20px yellow;
    }
    100% {
        box-shadow: 0 0 40px 10px yellow;
    }
}

@keyframes shine {
    0%, 100% { left: -80%; }
    100% { left: 120%; }
}

.flip-button {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00254d;
    border: 2px solid cyan;
    color: cyan;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.flip-button.back.legendary {
    animation: glow 1s infinite; /* Apply the glow animation */
}


.flip-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -80%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.74);
    transform: skewX(-45deg);
    transition: left 0.4s ease;
}
.flipper.flipped .flip-button::before {
    animation: shine 0.4s;
}
.front { z-index: 2; }
.back { transform: rotateY(180deg); }
